{% extends "base.html" %}

{% block navbar %} 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">Easy-Recipe</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" target="_blank" href="{{url_for('showData')}}">Backup</a>
          </li>
          <!-- Neues Dropdown Menü -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Rezeptoptionen
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('showRezepte')}}">Rezept anzeigen</a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="{{url_for('nutzerrezeptein')}}"><i class="bi bi-arrow-up-right"></i>Rezept anlegen</a>
              <a class="dropdown-item" href="{{ url_for('rezeptver1')}}">Zutaten ändern</a>              
            </ul>
          </div>

          <!-- Neues Dropdown Menü -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Zutatenoptionen
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('showZutaten')}}">Zutaten anzeigen</a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="{{url_for('addzutat')}}"><i class="bi bi-arrow-up-right"></i>Zutat anlegen</a>
            </ul>
          </div>

          <!-- Neues Dropdown Menü -->
          <div class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Tagoptionen
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('showTags') }}">Tags anzeigen</a>
              <a class="dropdown-item" href="{{ url_for('addTags') }}"><i class="bi bi-arrow-up-right"></i>Tags anlegen</a>
            </ul>
          </div>
      </ul> <!-- navbar-nav -->
      </div><!-- collapse navbar-collapse -->

    </div><!-- container -->
  </nav> <!--navbar -->
{% endblock %}