{% extends "admin_base.html" %}

{% block app_content %}
    <h3>{{titlet}}</h3>
    <style>
        .a {
            color: white;
        }
        
    </style>
    <ol class="list-group list-group-numbered">
        {% for message in inhalt %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        {% if handlung %}
                            {{ message.text }}
                        {% elif targerzhat2 %}
                            {{ message.hatzutat.name }} 
                        {% elif handdeleter2 %}
                            {{message.hatid.text}}
                        {% else %}
                            {{ message.name }} 
                        {% endif %}
                    </div>
                        {% if targetrezept %}
                            <!-- message sind Rezepte -->
                            <a href="{{url_for('deleteRezept',ids=message.id)}}">Entfernen</a>
                        {% endif %}
                        {% if targetzutat %}
                            <!-- message sind Zutaten -->
                            <a href="{{url_for('deleteZutat',ids=message.id)}}">Entfernen</a>
                        {% endif %}
                        {% if targettags %}
                            <!-- message sind Tags -->
                            <a href="{{ url_for('deleteTags',ids=message.id) }}">Entfernen</a>
                        {% endif %}
                        {% if targerzhat %}
                            <!-- message sind Rezepte -->
                            <a href="{{url_for('removeRZhat2',rid=message.id)}}">Auswählen</a>
                        {% endif %}
                        {% if targerzhat2 %}
                            <a href="{{url_for('deleterzhat',zid=message.hatzutat.id,rid=rid)}}">Entfernen</a>
                        {% endif %}
                        {% if handlung %}
                            <a href="{{url_for('deleteHandlung',ids=message.id)}}">Entfernen</a>
                        {% endif %}
                        {% if Tagver %}
                            <a href="{{url_for('removeTagshat2',rid=message.id)}}">Auswählen</a>
                        {% endif %}
                        {% if removeTagshat2%}
                            <a href="{{url_for('deleterthat',rid=rid,tid=message.id)}}">Verbindungentfernen</a>
                        {% endif %}
                        {% if MODE_HANDadd %}
                            <a href="{{url_for('handver2',rid=message.id)}}">Auswählen</a>
                        {% endif %}
                        {% if HANDver %}
                            <a href="{{url_for('handdeleter2',rid=message.id)}}">Auswählen</a>
                        {% endif %}
                        {% if handdeleter2 %}
                            <a href="{{url_for('deleterhhat',aid=message.aid,rid=rid)}}">Entfernen</a>
                        {% endif %}
                        {% if MODE_REZEPTadd %}
                            <a href="{{url_for('rezeptver2',rid=message.id)}}">Auswählen</a> (Neues Formular um die Zutaten mit Menge und optionalität hinzufügen)
                        {% endif %}
                </div> 
                {% if targetrezept %}
                    <!-- message sind Rezepte -->
                    <span class="badge bg-primary rounded-pill">{{ message.zutaten | count}}</span>
                {% endif %}
                {% if targetzutat %}
                    <!-- message sind Zutaten -->
                    <span class="badge bg-primary rounded-pill">{{ message.inhalte | count}}</span>
                {% endif %}
                {% if targettags %}
                    <!-- message sind Tags -->
                    <span class="badge bg-primary rounded-pill">{{ message.belongs | count}}</span>
                {% endif %}
                {% if targerzhat %}
                    <!-- message sind Rezepte -->
                    <span class="badge bg-primary rounded-pill">{{ message.zutaten | count}}</span>
                {% endif %}
                {% if handlung %}
                    <!-- message sind Handlungsschritte -->
                    <span class="badge bg-primary rounded-pill">{{ message.rezepte | count}}</span>
                {% endif %}
                {% if Tagver %}
                    <!-- message sind Handlungsschritte -->
                    <span class="badge bg-primary rounded-pill">{{ message.tags | count}}</span>
                {% endif %}
                {% if HANDver %}
                    <!-- message sind Handlungsschritte -->
                    <span class="badge bg-primary rounded-pill">{{ message.handlungsschritte | count}}</span>
                {% endif %}
            
            </li>
        {% endfor %}
    </ol>
    {% include 'admin_inc_pagi.html' %}
{% endblock %}