{% extends "base.html" %}



{% block app_content %}
<h3>{{titlet}}</h3>
<form class="row g-3" action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="col-12">
        <label class="form-label">{{form.name.label}}</label>
        {{form.name(class="form-control") }}
    </div>
    <div class="col-12">
        <label class="form-label">{{ form.bildupload.label }}</label>
        {{ form.bildupload(class="form-control")}}
    </div>
    {% if showbilds %}
    <div class="col-12">
        <label class="form-label">Bild der Zutat</label><br />
        <img src="/ctl/download/{{showbild}}" width="512px" height="384px" />
    </div>
    {% endif %}
    <div class="col-12">
        <label class="form-label">{{ form.einheit.label }}</label>
        {{ form.einheit(class="form-control") }}
    </div>
    {% if rezept %}
    <div class="col-12">
        <label class="form-label">{{ form.kategorie.label }}</label>
        <ol>
            {%for entry in rezept.kategorie %}
            <li>{{entry}}</li>
            {%endfor%}
        </ol>
        {{ form.kategorie(class="form-control") }}
    </div>
    {% endif%}
    <div class="col-12">
        {{form.submit(class="btn btn-success") }}
    </div>
</form>
{% endblock %}