{% extends "adminbase.html" %}

{% block app_content %}
    <h3>{{title}}</h3>
    <style>
        .a {
            color: white;
        }
        
    </style>
    <ol class="list-group list-group-numbered">
        {% for message in inhalt %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        {% if handlung %}
                        {{ message.text }}
                        {% else %}
                        {{ message.name }} 
                        {% endif %}
                    </div>
                        {% if targetrezept %}
                            <!-- message sind Rezepte -->
                            <a href="{{url_for('deleteRezept',ids=message.id)}}">Entfernen</a>
                        {% endif %}
                        {% if targetzutat %}
                            <!-- message sind Zutaten -->
                            <a href="{{url_for('deleteZutat',ids=message.id)}}">Entfernen</a>
                        {% endif %}
                        {% if targettags %}
                            <!-- message sind Tags -->
                            <a href="">Entfernen</a>
                        {% endif %}
                        {% if targerzhat %}
                            <!-- message sind Rezepte -->
                            <a href="{{url_for('removeRZhat2',rid=message.id)}}">Auswählen</a>
                        {% endif %}
                        {% if targerzhat2 %}
                            <a href="{{url_for('deleterzhat',zid=message.id,rid=rid)}}">Entfernen</a>
                        {% endif %}
                        {% if handlung %}
                            <a href="">nicht programmiert</a>
                        {% endif %}
                </div>
                {% if targetrezept %}
                    <!-- message sind Rezepte -->
                    <span class="badge bg-primary rounded-pill">{{ message.zutaten | count}}</span>
                {% endif %}
                {% if targetzutat %}
                    <!-- message sind Zutaten -->
                    <span class="badge bg-primary rounded-pill">{{ message.inhalte | count}}</span>
                {% endif %}
                {% if targettags %}
                    <!-- message sind Tags -->
                    <span class="badge bg-primary rounded-pill">{{ message.belongs | count}}</span>
                {% endif %}
                {% if targerzhat %}
                    <!-- message sind Rezepte -->
                    <span class="badge bg-primary rounded-pill">{{ message.zutaten | count}}</span>
                {% endif %}
                {% if handlung %}
                    <!-- message sind Handlungsschritte -->
                    <span class="badge bg-primary rounded-pill">{{ message.handlungen | count}}</span>
                {% endif %}
            
            </li>
        {% endfor %}
    </ol>
    {% if showCase %}
        {% include 'admin_inc_pagi.html' %}
    {% endif %}
{% endblock %}