{% extends "base.html" %}

{% block navbar %} 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">Easy-Recipe</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Anlegeoptionen
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('addrezept')}}">Rezeptanlegen</a>
              <a class="dropdown-item" href="{{url_for('addhandlung')}}">Handlungsschritt anlegen</a>
              <a class="dropdown-item" href="{{url_for('CHGverknupfung')}}">RZ-Verknüpfung</a>
              <a class="dropdown-item" href="{{url_for('addzutat')}}">Zutat anlegen</a>
            </ul>
          </div>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Anzeigeoptionen
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('showRezepte')}}">Rezepte</a>
              <a class="dropdown-item" href="{{url_for('showZutaten')}}">Zutaten</a>

            </ul>
          </div>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Entfernungsoptionen
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('removeRezept')}}">Rezept Entferner</a>
              <a class="dropdown-item" href="{{url_for('removeZutat')}}">Zutaten Entferner</a>
              <a class="dropdown-item" href="{{url_for('removeRZhat')}}">RZhat Entferner</a>
            </ul>
          </div>

        </ul> <!-- navbar-nav -->
      </div><!-- collapse navbar-collapse -->
    </div><!-- container -->
  </nav> <!--navbar -->
{% endblock %}