{% extends "admin_base.html" %}


{% block app_content %}
<form class="row g-3" action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="col-12">
        <label  class="form-label">{{form.position.label}}</label>
        {{form.position(class="form-control") }}
    </div>
    <div class="col-12">
        <label class="form-label">{{ form.handlungschritt.label }}</label>
        {{ form.handlungschritt(class="form-control")}}
    </div>
    <div class="col-12">
        {{form.submit(class="btn btn-success") }}
    </div>
</form>
<hr />
<h3>Das Rezept hat folgende Handlungsschritte:</h3>
<table class="table">
    <thead>
        
        <th>Position</th>
        <th>Handlungsschritt</th>
        <th>Handlungsschritt-ID</th>
    </thead>
    <tbody>
{% for entry in rezept1.handlungsschritte%}
    <tr>
        
        <td>
            {{entry.position}}
        </td>
        <td>
            <p>
                {% if entry.hatid.text | count > 50 %}
                <a type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{loop.index}}" aria-expanded="false" aria-controls="collapse">
                    {{entry.hatid.text[0:50]}}
                </a> [v]
              </p>
                <div class="collapse" id="collapse-{{loop.index}}">
                  <div class="card card-body" style="width: 600px;">
                    {{entry.hatid.text}}
                  </div>
                </div>
                {% else %}
                    {{entry.hatid.text}}
                {% endif %}
        </td>
        <td>
            {{entry.hid}}
        </td>
        
    </r>
{% endfor %}
</tbody>
</table>
{% endblock %}