<html>   
<body>
<h1># Importe</h1>
from app import db<br />
from app.rezept import rezept, zutat, tags, handlungsschritt<br />
<br />
<h1># Funktionen</h1>
def addZutat(name, einheit, bild, id):<br />
&nbsp;&nbsp;&nbsp;&nbsp;new = zutat(name=name, einheit=einheit, bild=bild,id=id))<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.add(new)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.commit()<br />
    <br />
def addRezept(name, bild,id):<br />
&nbsp;&nbsp;&nbsp;&nbsp;new = rezept(name=name, bild=bild,id=id)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.add(new)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.commit()<br />
    <br />
def addHandlung(bild, bild2,text,id):<br />
&nbsp;&nbsp;&nbsp;&nbsp;new = handlungsschritt(bild=bild, bild2=bild2,text=text,id=id)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.add(new)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.commit()<br />
    <br />
def addTags(name,id):<br />
&nbsp;&nbsp;&nbsp;&nbsp;new = tags(name=name,id=id)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.add(new)<br />
&nbsp;&nbsp;&nbsp;&nbsp;db.session.commit()<br />

    <br />
    <h1># Klasseneinträge wiederherstellen</h1>
    # Es werden alle Rezepte angelegt<br />
    {% for entry in rezept %}
        addRezept(name="{{entry.name}}",bild="{{entry.bild}}",id={{entry.id}})<br />
    {% endfor %}   
    <br />

    # Es werden alle Zutaten angelegt<br />
    {% for entry in zutaten %}
        addZutat(name="{{entry.name}}",bild="{{entry.bild}}",einheit="{{entry.einheit}}",id={{entry.id}})<br />
    {% endfor %}
    <br />

    # Es werden alle handlungsschritte angelegt<br />
    {% for entry in handlungsschritte %}
        addHandlung(text="{{entry.text}}",bild="{{entry.bild}}",bild2="{{entry.bild2}}",id={{entry.id}})<br />
    {% endfor %}    
    <br />

    # Es werden alle Tags angelegt<br />
    {% for entry in tags %}
        addTags(name="{{entry.name}}",id={{entry.id}})<br />
    {% endfor %}

    <h1># Verknüpfungen wiederherstellen</h1>
    <h2># Rezept & Zutaten</h2>

    <br />
    {% for entry in rezept %}
    # Das Rezept {{entry.name}} hat folgende Zutaten: {{entry.zutaten}}<br />
        {% for assoc in entry.zutaten %}
            assoc1 = Association(menge={{assoc.menge}},optional={{assoc.optional}})<br />
            zutat = zutat.query.get({{assoc.zid}})<br />
            assoc1.hatzutat= zutat<br />
            rezept1 = rezept.query.get({{assoc.rid}})<br />
            with db.session.no_autoflush:<br />
                &nbsp;&nbsp;&nbsp;&nbsp;rezept1.zutaten.append(assoc1)<br />
            db.session.commit()<br /><br />
        {% endfor %}
    {% endfor %}
    <br />

    <h2># Rezept & Tags</h2>
    <!-- Kann so bleiben, weil nicht viel geändert wurden ist-->
    {% for entry in rezept %}
    # Das Rezept {{entry.name}} hat folgende Tags: {{entry.tags}}<br />
        {% for entry2 in entry.tags %}
            r = rezept.query.get({{entry.id}})<br />
            tag1 = tags.query.get({{entry2.id}})<br />
            r.tags.append(tag1)<br />
            db.session.commit()<br /><br />
        {% endfor %}
    {% endfor %}
    <br />
    <h2># Rezept & Handlungsschritte</h2>
    {% for entry in rezept %}
    # Das Rezept {{entry.name}} hat folgende Handlungsschritte: {{entry.handlungsschritte}}<br />
        {% for assoc in entry.handlungsschritte %}
            assoc1  = AssociationRHhat(position={{assoc.position}})<br />
            handlung = handlungsschritt.query.get({{assoc.hid}})<br />
            assoc1.hatid= handlung<br />

            rezept1 = rezept.query.get({{assoc.rid}})<br />
            with db.session.no_autoflush:<br />
                &nbsp;&nbsp;&nbsp;&nbsp;rezept1.handlungsschritte.append(assoc1)<br />
            db.session.commit()<br /><br />
        {% endfor %}
    {% endfor %}
    <br />
    db.session.commit()
</body></html>