{% extends "base.html" %}
<html><head>
{% block title %}
    <title>{% if title %} {{title}} {% else %}Easy Recipe {% endif %}</title>
    <link href="/file/bootstrap.min.css" type="text/css" rel="stylesheet" />
{% endblock %}
</head>
<body>

{% block content %}
<div class="container-fluid">
    {% block app_content %}
    
    <style>
        .table th.middle {
            width: 90px;
        }
        .table input {
            margin: 5px 10px;
            
        }
        .table td.eingabe {
            width: 300px;
        }
        .table td.submit {
            padding: 5px;
        }
        .save {
            margin-left: 10px;
        }
        
        .table td.buttons {
            align-content: center;
            vertical-align: middle;
        }
    </style>


    <form action="" method="post" novalidate>
        <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>{{form.ein.label}}</th>
                <th class="middle">Auswahl</th>
                <th>Auswaehlen</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td class="eingabe">eingeben</td>
                  <td class="buttons">Pfeile</td>
                  <td class="eingabe">ausgewaehlt</td>
                </tr>
                <tr>
                    <td class="save">Speichern</td>
                    <td></td>
                    <td class="right">Auswahl loeschen</td>
                </tr>
            </tbody>
        </table>
    </form>
    
    
    {% endblock %}
</div>
{% endblock %}
</body></html>