{% extends "base.html" %}


 

  {% block app_content %}

  <style>
  .table th.middle {
      width: 90px;
  }
  .table input {
      margin: 5px 10px;
      
  }
  .table td.eingabe {
      width: 300px;
  }
  .table td.submit {
      padding: 5px;
  }
  .save {
      margin-left: 10px;
  }
  
  .table td.buttons {
      align-content: center;
      vertical-align: middle;
  }

  .right{
    justify-content: right;
    display: flex;
  }
  </style>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

    <form action="/" method="post" novalidate>
      {{ form.csrf_token }}
        <table class="table table-sm asn">
            <thead> 
              <tr>
                <th>{{ form.eingabe.label }}</th>
                <!-- <th class="middle">Auswahl</th> -->
                <th >{{ form.selected.label }}</th>
              </tr>
            </thead>
            <tbody>

                <!--
                <tr>
                    <td class="suchtext" autofocus> Suche eine Zutat: {{ form.suchtext() }} {{ form.submitSuchtext }}</td>
                </tr>
                -->

                <!--
                <tr>
                <script type="text/javascript">
                    function textboxtest() {
                        document.getElementById('id01').value = "test"

                        return
                    }
                </script>
                <input type="text" id="id01" onKeyUp="return textboxtest()" />

                </tr>
                -->


                <tr>
                    <td class="suchfeld"> Suche eine Zutat: {{ form.suchfeld }} {{ form.sumbitAddSuchbegriff }}</td>
                </tr>


                <tr>
                  <!-- <td class="eingabe" id=""> {{ form.eingabe(size=15, class='form-control',multiple='multiple') }}</td> -->

                  <!-- Hier ist Zelle mit verschiedenen Kategorien -->
                  <td width="70%">
                  {% for i in range(0, form.kategorien|length) %}
                      <div>
                      {% set kategorie = form.kategorien[i] %}
                          <p><h5>{{ kategorie.name }}</h5></p>

                      <!-- Buttons mit allen Zutaten: -->
                      <p>
                      {% for j in range(0, kategorie.zutaten|length) %}
                          {% set zutatname = kategorie.zutaten[j].name %}
                          {% if not zutatname in choices_array %}
                          <button name="btn{{ zutatname }}" style="border-color:white; background-color:white" > {{ zutatname }} </button>
                          {% endif %}
                      {% endfor %}
                      </p>

                      </div>

                  {% endfor %}
                  </td>

                    <!-- alte Buttons für hinzufügen / entfernen -->
                  <!-- <td class="buttons">{{ form.submitRm(class="btn btn-danger") }} {{ form.submitAdd(class="btn btn-success") }}</td> -->

                    <!-- Liste ausgewählter ZUtaten -->
                  <td>
                      <table>
                      {% for chosenZutat in choices_array %}
                        <tr>
                            <td><button name="btn{{ chosenZutat }}" style="border-color:white; background-color:white" > {{ chosenZutat }} </button></td>
                        </tr>
                      {% endfor %}
                          <tr><td class="right">{{ form.submitSuchen(class="btn btn-primary")}}</td></tr>
                      </table>
                  </td>

                    <!-- Alte AUswahlliste -->
                  <!-- <td class="eingabe">{{form.selected(size=15, class='form-control',multiple='multiple')}}</td> -->
                </tr>


                <tr>
                    <!-- ALter AUswahl lösen <td class="save">{{ form.submitLoesen(class="btn btn-primary") }}</td> -->

                </tr>
            </tbody>
        </table>
    </form>

    <script>
        $(document).ready(function() {
            $('#suchfeld').select2({  // init Select2 on form's suchfeld field
                placeholder: "{{ form.suchfeld.label.text }}",
                allowClear: true,
                "width": "style"
            });
        });
    </script>

  {% endblock %}
