{% extends "admin_base.html" %}

{% block app_content %}
    <h3>{{titlet}}</h3>
    <style>
        .a {
            color: white;
        }
        
    </style>

    <form action="/" method="post" novalidate>
      <img src="/ctl/download/{{rezept.bild}}" class="card-img-top" alt="Kein Bild" style="width: 31rem;">
      <div class="card-body">
          <h5 class="card-title">{{ rezept.name }}</h5>
          <p class="card-text">{{ rezept.tags }}</p>

          <!-- TODO: Handlungsschritte anzeigen lassen -->

      </div>


    </form>

{% endblock %}