{% extends "base.html" %}

{% block app_content %}

<form name="add_rezept" id="add_rezept">
{{ form.csrf_token }}

<div align="right">
    {{btnSort1}}
    {{btnSort2}}
    {{btnSort0}}
</div>

{% set anzRezepte = rezeptRankings|length %}
{%for i in range(0, anzRezepte) %}
    {% if i < anzRezepte %}

            {% set cardwidth = "38rem" %}
            {% set cardheight = 45 %}
            <div class="card" style="width: {{cardwidth}}; height: {{cardheight}}rem; float:left;">
                <a href="{{ url_for('rezeptanzeige',ids=rezeptRankings[i].rid)}}">
                <img src="/ctl/download/{{rezeptRankings[i].bild}}" class="card-img-top" alt="Kein Bild" style="width: {{cardwidth}};">
                </a>
                {%set bodyheight = cardheight - 8 %}
                <div class="card-body" style="overflow-y:scroll;height:{{bodyheight}}rem">
                    <h5 class="card-title">{{ rezeptRankings[i].name }}</h5>
                    <i class="card-text">{{ rezeptRankings[i].tags }}</i>
                    <p></p>
                    <p class="card-text"><b>Du hast folgende Zutaten:</b> {{ rezeptRankings[i].vorhandeneZutatenNamen }}</p>
                    <p class="card-text"><b>Dir fehlen folgende Zutaten:</b> {{ rezeptRankings[i].fehlendeZutatenNamen }}</p>
                </div>
                <a href="{{ url_for('rezeptanzeige',ids=rezeptRankings[i].rid)}}" class="btn btn-primary" ><b>Nachkochen</b></a>
            </div>

    {%endif %}
{% endfor %}


</form>
{% endblock %}
