{% extends "base.html" %}

{% block app_content %}

<style>
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        height: auto;
    }
    .card:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 5em;
        width: 100%;
        background: linear-gradient(0deg, white, transparent);
        background-image: -webkit-linear-gradient(bottom, white, transparent);
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }

</style>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<form name="rezeptsammlung" id="rezeptsammlung" method="POST">
{{ form.csrf_token }}

{% set cardwidth = "18rem" %}
{% set cardheight = 24 %}

<div class="container">
    <div class="row">
        <!--
        <div class="col-2" style="vertical-align:top; margin:5px; background-color:#E7E7E7">
            <p><b>Angewandte Filter:</b> </p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedLeicht" checked>
                <label class="form-check-label" for="flexSwitchCheckCheckedLeicht">Leicht</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedFleisch" checked>
                <label class="form-check-label" for="flexSwitchCheckCheckedFleisch">Fleisch</label>
            </div>
        </div>
        -->
        <div class="col">
            <div class="container" style="margin:5px;" > <!-- Filteroptionen und Suche Button -->
                <div class="row">
                    <div class="col">
                        {{form.rezeptnamen(width="90%", align="bottom")}}
                    </div>
                    <div class="col">
                        {{form.rezeptkategorien(width="90%", align="bottom")}}
                    </div>
                    <div class="col">
                        <div>{{form.maxZutaten}}</div>
                    </div>
                    <div class="col-2">
                        <div>{{form.btnSuchen(class="btn btn-light btn-sm", style="align:right")}}</div>
                    </div>
                </div>
                <!-- Rezeptvorschläge: -->

                {% set anzSammlungen = rezeptsammlungen|length %}
                <div class="row">
                    <div class="col">
                        <p></p>
                        <p><h3><b>Rezeptvorschläge ({{anzRezeptvorschlaege}})</b></h3>
                        <p></p>
                        <p></p>

                        {% for i in range(0, anzSammlungen) %}
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <p><h5><b>{{ rezeptsammlungen[i].name }}</b></h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% set rezeptsammlung = rezeptsammlungen[i] %}
                                    {% set rezepteInSammlung = rezeptsammlung.rezepte|length %}
                                    {% for j in range(0, rezepteInSammlung) %}

                                    <a href="{{ url_for('rezeptsammlung_id',ids=rezeptsammlung.rezepte[j].rid)}}">
                                    <div class="card" style="width: {{cardwidth}}; height: {{cardheight}}rem; float:left; margin:5px; border:none;">
                                        <img src="/ctl/download/{{rezeptsammlung.rezepte[j].bild}}" class="card-img-top" alt="Kein Bild" style="width: {{cardwidth}};">
                                        <div class="card-body" style="overflow-y:scroll;">
                                            <h5 class="card-title">{{ rezeptsammlung.rezepte[j].name }}</h5>
                                            <i class="card-text">{{ rezeptsammlung.rezepte[j].tags }}</i>
                                        </div>
                                    </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>


    <script>
        $(document).ready(function() {
            $('#rezeptnamen').select2({  // init Select2 on form's rezeptnamen field
                placeholder: "{{ form.rezeptnamen.label.text }}",
                allowClear: true,
                "width": "90%"
            });
            $('#rezeptkategorien').select2({  // init Select2 on form's rezeptnamen field
                placeholder: "{{ form.rezeptkategorien.label.text }}",
                allowClear: true,
                "width": "90%"
            });
        });
    </script>

{% endblock %}
