{% extends "rezeptsortierungen.html" %}

{% block card_content %}

<style>
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        height: auto;
        z-index: 1;
        position:relative;
    }
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }

</style>



<form name="rezeptranking" id="rezeptranking" method="POST">
{{ form.csrf_token }}
{{ JSGlue.include() }}

    <div class="row">
        <div class="col" align="right">
            {{form.btnSort1(class="btn btn-light btn-sm")}}
            {{form.btnSort2(class="btn btn-light btn-sm")}}
            {{form.btnSort0(class="btn btn-light btn-sm")}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5>Passende Rezepte mit <b>{{ choices_array | join(', ') }}</b>:</h5>
        </div>
    </div>

    <div class="row">
        <div class="col">

        {% set anzRezepte = rezeptRankings|length %}
        {%for i in range(0, anzRezepte) %}
            {% if i < anzRezepte %}
                    {% set cardwidth = "24rem" %}
                    {% set cardheight = 36 %}
                    <a href="" onclick="getRezeptURL({{ rezeptRankings[i].rid }}, this)">
                    <div class="card col" style="width: {{cardwidth}}; height: {{cardheight}}rem; float:left; margin:10px; border:none;">
                        <img src="/ctl/download/{{rezeptRankings[i].bild}}" class="card-img-top" alt="Kein Bild" style="width: {{cardwidth}};">
                        {%set bodyheight = cardheight / 5 * 3 %}
                        <div class="card-body" style="overflow-y:scroll;height:{{bodyheight}}rem">
                            <h5 class="card-title">{{ rezeptRankings[i].name }}</h5>
                            <i class="card-text">{{ rezeptRankings[i].tags }}</i>
                            <p></p>
                            <p class="card-text"><b>Vorhanden:</b> {{ rezeptRankings[i].vorhandeneZutatenNamen }}</p>
                            <p class="card-text"><b>Fehlt:</b> {{ rezeptRankings[i].fehlendeZutatenNamen }}</p>
                        </div>
                        <!-- <a href="{{ url_for('rezeptanzeige',ids=rezeptRankings[i].rid)}}" class="btn btn-primary" ><b>Nachkochen</b></a> -->
                    </div>
                    </a>
            {%endif %}
        {% endfor %}

        </div>
    </div>

</form>

<script>
    function getRezeptURL(id, objekt){
        var vorhZutaten = location.href.split("zutaten=")[1]
        var rez_url = Flask.url_for('rezeptanzeige', {'id' : id, 'zutaten' : vorhZutaten})
        objekt.setAttribute("href", rez_url)
    }


    $(document).ready(function() {
        console.log("test1");
        $('#rezeptnamen').select2({  // init Select2 on form's rezeptnamen field
            placeholder: "{{ form.rezeptnamen.label.text }}",
            allowClear: true,
            "width": "90%"
        });
        $('#rezeptnamen').on('select2:select', function (e) {
            console.log("selected2")
            $('#btnSuchen').click()
            $('#rezeptnamen').val(null)
            return false;

        });
        $('#rezeptkategorien').select2({
            placeholder: "{{ form.rezeptkategorien.label.text }}",
            allowClear: true,
            "width": "90%"
        });
        $('#maxZutaten').select2({
            placeholder: "{{ form.maxZutaten.label.text }}",
            allowClear: true,
            "width": "90%"
        });
    });

</script>
{% endblock %}
